<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<category name="Pizza" seq="1">
		<dish name="Tomato + Cheese">
			<price size="Sm">5.50</price>
			<price size="lg">9.75</price>
		</dish>
		<dish name="Onions">
			<price size="Sm">6.85</price>
			<price size="lg">10.85</price>
		</dish>
		<dish name="Peppers">
			<price size="Sm">6.85</price>
			<price size="lg">.75</price>
		</dish>
		<dish name="Broccoli">
			<price size="Sm">6.85</price>
			<price size="lg">.75</price>
		</dish>
		<dish name="Fresh Garlic">
			<price size="Sm">6.85</price>
			<price size="lg">.75</price>
		</dish>
		<dish name="Mushrooms">
			<price size="Sm">6.85</price>
			<price size="lg">.75</price>
		</dish>
		<dish name="Fresh Spinach">
			<price size="Sm">6.85</price>
			<price size="lg">.75</price>
		</dish>
		<dish name="Anchovies">
			<price size="Sm">6.85</price>
			<price size="lg">.75</price>
		</dish>
		<dish name="Hamburg">
			<price size="Sm">6.85</price>
			<price size="lg">.75</price>
		</dish>
	</category>
	<category name="Speciality Pizzas" seq="2">
		<dish name="Three Aces Special">
			<price size="Sm">9.80</price>
			<price size="lg">15.80</price>
		</dish>
		<dish name="Mediterranean" ingridients="Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella + Feta Cheese">
			<price size="Sm">9.80</price>
			<price size="lg">15.80</price>
		</dish>
		<dish name="Vegetarian" ingridients="Sliced Tomatoes, Onion, Peppers, Mushrooms, Broccoli, Mozzarella">
			<price size="Sm">9.80</price>
			<price size="lg">15.80</price>
		</dish>
		<dish name="Meat Lovers" ingridients="Peperoni, Hamburg, Sausage + Bacon">
			<price size="Sm">9.80</price>
			<price size="lg">15.80</price>
		</dish>
		<dish name="Bbq Grilled Chicken" ingridients="Choice of Vegetables">
			<price size="Sm">9.80</price>
			<price size="lg">15.80</price>
		</dish>
		<dish name="Grecian Supreme" ingridients="Grilled Chicken, Feta Cheese, Tomatoes, Kalamata Olives">
			<price size="Sm">9.80</price>
			<price size="lg">15.80</price>
		</dish>
	</category>
	<category name="Special Dinners" seq="3">
		<dish name="Chicken Wing Dinner">
			<price>7.25</price>
		</dish>
		<dish name="Gyro Plate">
			<price>7.25</price>
		</dish>
		<dish name="Chicken Finger Plate">
			<price>7.25</price>
		</dish>
		<dish name="3 Piece Chicken Dinner">
			<price>7.25</price>
		</dish>
		<dish name="Cheeseburger or Chicken Burger Plate">
			<price>7.25</price>
		</dish>
		<dish name="Double-cheeseburger Plate">
			<price>7.25</price>
		</dish>
	</category>
</menu>