body{
	background-color: #f7f7f7;
}

.CategoryTitle{
	font-size: 24px;
}

.DishBlock{
	width: 320px;
	padding: 5px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
	float: left;
}
.categoryNav{
	list-style: none;
	text-align: center;
}
.categoryNav li{
	display: inline-block;
}
